@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family:PExtraBold ;
  src: url('/fonts/PlusJakartaSans-ExtraBold.ttf'), format("ttf");
}
@font-face {
  font-family:PBold ;
  src: url('/fonts/PlusJakartaSans-Bold.ttf'), format("ttf");
}
@font-face {
  font-family:PSemiBold ;
  src: url('/fonts/PlusJakartaSans-SemiBold.ttf'), format("ttf");
}
@font-face {
  font-family:PMedium ;
  src: url('/fonts/PlusJakartaSans-Medium.ttf'), format("ttf");
}
@font-face {
  font-family:PRegular;
  src: url('/fonts/PlusJakartaSans-Regular.ttf'), format("ttf");
}
@font-face {
  font-family:PLight;
  src: url('/fonts/PlusJakartaSans-Light.ttf'), format("ttf");
}
@font-face {
  font-family:PExtraLight;
  src: url('/fonts/PlusJakartaSans-ExtraLight.ttf'), format("ttf");
}

.max_width_app {
  max-width: 2000px;
  margin: auto;
}


/* Reset stacking context issues */
* {
  z-index: auto;
  position: static;
}

/* Explicitly set modal styles */
.modal-backdrop {
  z-index: 9999 !important;
  position: fixed !important;
}

.modal-content {
  z-index: 10000 !important;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cfd1d6;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1f2c4a;
  border-radius: 10px;
}