@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family:ipa_font ;
  src: url('/fonts/ipa_font.ttf'), format("ttf");
}


.max_width_app {
  max-width: 2000px;
  margin: auto;
}


/* Reset stacking context issues */
* {
  z-index: auto;
  position: static;
}

/* Explicitly set modal styles */
.modal-backdrop {
  z-index: 9999 !important;
  position: fixed !important;
}

.modal-content {
  z-index: 10000 !important;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cfd1d6;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1f2c4a;
  border-radius: 10px;
}

